@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  font-weight: 700;
  word-break: break-all;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.navigation-item .button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-item .button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  min-height: 100%;
}

.page-header {
  display: flex;
  padding: 0 70px;
  min-height: 64px;
}

.logo-site {
  position: absolute;
}

.main-container {
  flex-grow: 1;
}

.wrapper-navigation {
  margin-left: 150px;
  width: 100%;
}

.navigation {
  display: flex;
  width: 100%;
}

/* .logo-link {
  margin-right: 30px;
  margin-left: 70px;
} */

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-list-left {
  max-width: 500px;
  flex-wrap: wrap;
}

.navigation-list-right {
  margin-left: auto;
  height: 64px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  height: 100%;
  padding: 20px 16px;
}

.navigation-item {
  box-sizing: border-box;
}

.navigation-item-current {
  border-bottom: 2px solid #756257;
  display: inline-block;
}

.navigation-item-search {
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  padding: 0;
  height: 64px;
}

.navigation-item-search .navigation-link {
  display: block;
  width: 100%;
  height: 64px;
}

.navigation-item-heart {
  background-image: url("../images/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  padding: 0;
  height: 100%;
}

.navigation-item-heart .navigation-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.like-number-icon {
  position: absolute;
  top: 9px;
  left: 20px;
  display: block;
  height: 20px;
  min-width: 20px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 100vw;
  padding: 4px 5px 5px;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  max-width: 160px;
  padding: 8px 34px;
}

.navigation-item-button {
  padding: 0;
  margin: 14px 0;
  margin-left: 20px;
}

.banner-index {
  background-image: url("../images/backgrounds/mask-hero.svg"), url("../images/backgrounds/background-hero.jpg");
  background-repeat: no-repeat;
  background-color: #799bbe;
  background-size: 100% auto, cover;
  background-position: bottom, center;
  padding: 51px 0 82px;
}

.hero {
  display: block;
  margin: 0 auto;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.advantages-title {
  padding: 69px 290px 0;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-description {
  padding: 0 275px;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

.advantages-item {
  background-color: #82b3d3;
  color: #ffffff;
  width: 400px;
  text-align: center;
}

.advantages-item-big {
  display: flex;
  width: 100%;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 102px 113px 0;
  margin: 0;
}

.advantages-item-title::after {
  display: block;
  content: "";
  width: 60px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  padding: 0 85px 102px;
  margin: 0;
}

.advantages-item-square,
.advantages-item-tourist {
  color: #000000;
  background-color: rgb(131, 179, 211, 0.12);
}

.advantages-item-road {
  color: #000000;
  background-color: rgb(131, 179, 211, 0.2);
}

.advantages-item-square .advantages-item-description,
.advantages-item-tourist .advantages-item-description,
.advantages-item-road .advantages-item-description {
  color: #333333;
}

.advantages-item-square .advantages-item-title::after,
.advantages-item-tourist .advantages-item-title::after,
.advantages-item-road .advantages-item-title::after {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.services {
  padding-top: 64px;
  text-align: center;
}

.services-title {
  margin: 0;
  padding: 0 348px;
  margin-bottom: 20px;
}

.services-description {
  margin: 0;
  padding: 0 355px;
  margin-bottom: 64px;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 385px;
}

.services-item {
  color: #000000;
  background-color: rgb(131, 179, 211, 0.12);
  width: 400px;
  padding-top: 81px;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 85px 30px;
}

.services-item-home .services-item-title::before {
  content: "";
  background-image: url("../images/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  margin: 0 auto 30px;
  height: 75px;
  min-width: 80px;
}

.services-item-food .services-item-title::before {
  content: "";
  background-image: url("../images/svg/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  margin: 0 auto 30px;
  height: 75px;
  min-width: 80px;
}

.services-item-souvenir .services-item-title::before {
  content: "";
  background-image: url("../images/svg/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  margin: 0 auto 30px;
  height: 76px;
  min-width: 80px;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0 85px 81px;
}

.services-item-food {
  background-color: #ffffff;
}

.booking {
  text-align: center;
  padding: 96px 0;
}

.booking-title {
  margin: 0;
  padding: 0 304px;
  margin-bottom: 20px;
}

.booking-description {
  margin: 0;
  padding: 0 304px;
  margin-bottom: 54px;
}

.booking .button {
  font-size: 20px;
  line-height: 36px;
  max-width: 418px;
}

.subscription {
  background-image: url("../images/backgrounds/background-subscribe.jpg");
  background-color: #799bbe;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-title {
  color: #ffffff;
  margin: 0;
  padding: 0 398px;
  margin-bottom: 20px;
}

.subscription-description {
  margin: 0;
  padding: 0 363px;
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-input {
  background-color: #f2f2f2;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  margin: 0;
}

.subscription .button {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  margin: 0;
  max-width: 255px;
}


.subscription .button:hover,
.subscription .button:focus {
  background-color: #68a2ca;
}

.subscription .button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription .button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
  min-height: 120px;
}

.social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  width: 145px;
  margin: auto 0;
  justify-content: center;
}

.social-item {
  text-align: center;
  min-height: 40px;
  min-width: 47px;
}

.social-link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.wrapper-contacts-phones {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 800px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: auto;
  padding: 5px 0;
}

.logo-developer-link {
  margin: auto 0;
  padding: 5px 0;
}

.wrapper-catalog-filter {
  background-image: url("../images/backgrounds/background-filter.jpg");
  background-color: #799bbe;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.catalog-filter-header {
  margin-bottom: 40px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  gap: 10px;
  min-height: 21px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  height: 100%;
  position: relative;
  padding-left: 18px;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  background-image: url("../images/svg/icon-bread-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 10px;
  transform: translateY(-50%);
}

.breadcrumbs-item:first-child {
  background-image: url("../images/svg/icon-bread-home.svg");
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 21px;
  width: 20px;
  height: 21px;
  padding: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

.breadcrumbs-link:not(:last-child) {
  cursor: pointer;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.group-accommodation {
  margin-right: 0;
}

.catalog-filter-group-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  width: 100%;
}

.catalog-filter-group-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-item:last-child {
  margin: 0;
}

.catalog-filter-group .catalog-filter-group-control-input {
  font-size: 18px;
  line-height: 23px;
}

.price {
  position: relative;
}

.input-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
  height: 48px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
  padding: 12px 45px 12px 20px;
}

.price:first-of-type .input-price {
  border-radius: 4px 0 0 4px;
}

.price:last-of-type .input-price {
  border-radius: 0 4px 4px 0;
}

.price-from-to {
  position: absolute;
  top: 12px;
  right: 20px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  line-height: 24px;
}


.catalog-hotels .button {
  background-color: #82b3d3;
  font-size: 16px;
  line-height: 20px;
  max-width: 202px;
}

.catalog-hotels .button-reset {
  background: none;
  margin-top: 32px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.search-result {
  padding: 50px 70px 60px;
}

.wrapper-header-search-result {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.search-result-title {
  margin: 0;
  width: 358px;
  margin-right: 180px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  margin-right: auto;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-list {
  list-style-type: none;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.view-item {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-item-tile {
  background-image: url("../images/svg/view-icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-item-card {
  background-image: url("../images/svg/view-icon-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-item-list {
  background-image: url("../images/svg/view-icon-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-link {
  width: 100%;
  height: 100%;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}

.hotels-item {
  width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto 1fr;
  gap: 16px 20px;
  padding: 20px;
  height: 100%;
}

.hotel-card-image {
  display: block;
}

.hotel-card-link {
  grid-column: 1 / -1;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  grid-column: 1 / -1;
  margin: 0;
}

.hotel-card-group,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.hotel-card-price {
  text-align: end;
}

.hotels-item .button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 17px;
  text-align: center;
  max-width: 160px;
}

.favorites-button {
  background-color: #82b3d3;
}

.in-favorites-button {
  background-color: #7db54f;
}

.raiting-result-stars {
  height: 17px;
  margin: auto 0;
  background-image: url("../images/svg/star.svg");
  background-repeat: space no-repeat;
}

.raiting-result-stars-1 {
  width: 18px;
}

.raiting-result-stars-2 {
  width: 42px;
}

.raiting-result-stars-3 {
  width: 66px;
}

.raiting-result-stars-4 {
  width: 89px;
}

.raiting-result-stars-5 {
  width: 107px;
}

.raiting-result {
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 9px 22px 8px 23px;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.subscription-catalog {
  background: none;
  color: inherit;
}

.subscription-catalog .main-title {
  color: #000000;
}
