@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.navigation-item-search {
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item-heart {
  background-image: url("../images/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  background-color: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  font-weight: 700;
}


.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
}

.banner-index-background {
  background-image: url("../images/backgrounds/mask-hero.svg"), url("../images/backgrounds/background-hero.jpg");
  background-repeat: no-repeat;
  background-color: #799bbe;
  background-size: 100% auto, cover;
  background-position: bottom, center;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item h3 {
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-square,
.advantages-item-tourist {
  color: #000000;
  background-color: #82b3d31f;
}

.advantages-item-road {
  color: #000000;
  background-color: #82b3d333;
}

.advantages-item-square p,
.advantages-item-tourist p,
.advantages-item-road p {
  color: #333333;
}

.services-item {
  color: #000000;
  background-color: #82b3d333;
}

.services-item h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.services-item-food {
  background-color: inherit;
}

.button-seach-hotel {
  font-size: 20px;
  line-height: 36px;
}

/* .services-item {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75px 72px;
}

.services-item-home {
  background-image: url("../images/svg/icon-home.svg");
}

.services-item-food {
  background-image: url("../images/svg/icon-burger.svg");
  background-color: #ffffff;
}

.services-item-souvenir {
  background-image: url("../images/svg/icon-souvenir.svg");
} */

.subscription {
  background-image: url("../images/backgrounds/background-subscribe.jpg");
  background-color: #799bbe;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-title {
  color: #ffffff;
}

.subscription-input {
  background-color: #f2f2f2;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  line-height: 24px;
}

.subscription-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.wrapper-catalog-header-filter {
  background-image: url("../images/backgrounds/background-filter.jpg");
  background-color: #799bbe;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-group legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-group input {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group .field {
  font-size: 18px;
  line-height: 24px;
}

.catalog-hotels .button {
  background-color: #82b3d3;
  font-size: 16px;
  line-height: 20px;
}

.catalog-hotels .button-reset {
  background: none;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotels-item p {
  font-size: 18px;
  line-height: 21px;
}

.hotels-item .button {
  font-size: 16px;
  line-height: 20px;
}

.favorites {
  background-color: #82b3d3;
}

.in-favorites {
  background-color: #7db54f;
}

.ruting-result {
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
}

.pagination a {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
}

.pagination .pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.subscription-catalog {
  background: none;
  color: inherit;
}

.subscription-catalog .main-title {
  color: #000000;
}
